body {
    font-family: Calibri;
}

.panel {
    border-style: double;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color: white;
}

.panel_title {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

.panel_display {
    font-size: 20px;
    text-align: right;
}

.panel_base_display_name {
    font-size: 14px;
    text-align: center;
}

.panel_base_display_value {
    font-size: 14px;
    text-align: left;
}
